@model VideoSchool.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

UserID: @Model.id <br />
Name:   @Model.name <br />
Email:  @Model.email <br />
Status: @Model.status <br />
Session<br />
User_id: @Session["user_id"] <br />
Email: @Session["user_email"] <br />
Name: @Session["user_name"] <br />

@if(Session["user_id"] == null)
{ 

using(Html.BeginForm())
{
    <div style="color: red">
        @ViewBag.error
    </div>
    <div>
        Email: 
        @Html.TextBox("email", Model.email)
    </div>
    <div>
        Passw:
        @Html.Password("passw", "")
    </div>

    <input type="submit" value="Login" class="btn btn-success" />
}

}
else
{
    @Html.ActionLink("Выход", "Logout", "Login", new { }, new { @class="btn btn-danger" } )
}