@model VideoSchool.Models.Units.User

@{
    ViewBag.Title = "Signup";
}

<h2>Signup</h2>


@using (Html.BeginForm("Signup", "Login", FormMethod.Post))
{
    <div style="color: red">
        @ViewBag.error
    </div>

    <p>@Html.AntiForgeryToken()</p>
    <div>
        Имя
        @Html.TextBox("name", Model.name, new {@class="form-control@" })
    </div>
    <div>
        email
        @Html.TextBox("email", Model.email, new { @class = "form-control@" })
    </div>
    <div>
        Пароль
        @Html.Password("passw", new { @class = "form-control@" })
    </div>
    <div><input type="submit" value="Записаться" class="btn btn-success" /></div>

}