@model VideoSchool.Models.Share.Error

<h2>Last Error</h2>

<p><strong>Mode:</strong> @Model.mode</p>
<p><strong>Text:</strong> @Model.text</p>
<p><strong>Source:</strong> @Model.exception.Source</p>
<p><strong>Exception:</strong> @Model.exception.Message</p>
<p><strong>Query:</strong> @Model.query</p>
<p><strong>Stack:</strong> <pre>@Model.exception.StackTrace</pre></p>
