@model VideoSchool.Models.Units.Action

@{
    ViewBag.Title = "EditAction";
}

    <h2 class="alert-link" >ActionEdit</h2>

@using (Html.BeginForm("EditAction", "Cabinet"))
{
    <div style="color: red">
        @ViewBag.error
    </div>
    <div class="col-lg-12 row">
        <h2 class="alert-link"></h2>
        <span class="alert alert-info">
            <strong>ID: </strong> @Model.id 
        </span>
        <h2 class="alert-link"></h2>
    </div>
    <div class="col-lg-12 row">
        

        <span class="field-image input-group-addon menuedit-span"><i class="glyphicon glyphicon-check"> Name:</i></span>
        @Html.TextBox("name", Model.name, new { @class = "form-control", @placeholder = "Password" })
    </div>
    <div class="col-lg-12 row">
       
        <span class="field-image input-group-addon menuedit-span"><i class="glyphicon glyphicon-check"> Info:</i></span>
        @Html.TextBox("info", Model.info, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 row">
       
        <span class="field-image input-group-addon menuedit-span"><i class="glyphicon glyphicon-check"> Status:</i></span>
        @Html.TextBox("status", Model.status, new { @class = "form-control" })
    </div>
    <div class="col-lg-12 row">
        <input type="submit" value="Save changes" title="Save changes of the users" class="btn btn-success" />
        @Html.ActionLink("Delete action", "DropAction", "Cabinet", new { id = Model.id }, new { @class="btn btn-warning" })
    </div>
}