@model VideoSchool.Models.Units.UserAddress

@{
    ViewBag.Title = "Address";
}



<div class="col-lg-12">
   
  
    <div class="list-group col-lg-6">
        <a href="#" class="list-group-item active col-lg-12">
            <span class="glyphicon glyphicon-star"></span>Edit Address of User <strong>SuperUser</strong>  <span class="badge"></span>
        </a>
        <a href="#" class="list-group-item ">
            <span class="glyphicon glyphicon-star"></span>Zip:  
            @Html.TextBox("zip", Model.zip,  new { @class="form-control"})
             <span class="badge"></span>
        </a>
        <a href="#" class="list-group-item  ">
            <span class="glyphicon glyphicon-star"></span> Country: 
            @Html.TextBox("country", Model.country, new { @class = "form-control" })
             <span class="badge"></span>
        </a>
        <a href="#" class="list-group-item  ">
            <span class="glyphicon glyphicon-star"></span> Area:
            @Html.TextBox("area", Model.area, new { @class = "form-control" })
             <span class="badge"></span>
        </a>
        <a href="#" class="list-group-item ">
            <span class="glyphicon glyphicon-star"></span>  City:
            @Html.TextBox("city", Model.city, new { @class = "form-control" })
            <span class="badge"></span>
        </a>
       
        <a href="#" class="list-group-item"> 
            <span class="glyphicon glyphicon-ok-circle"></span> Street:   @Html.TextBox("street", Model.street, new { @class = "form-control" }) <span class="badge"></span>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-user"></span> 
             Personal:
            @Html.TextBox("personal", Model.personal, new { @class = "form-control" })
            <span class="badge"></span>
        </a>
        <a href="#" class="list-group-item">
            <span class="glyphicon glyphicon-lamp"></span>
           
           <input type="submit" value="Save changes" name="saveaddress" class="btn btn-primary" />
            <span class="badge"></span>
        </a>
     
    </div>
</div>

