@model VideoSchool.Models.Units.UserAddress

@{
    ViewBag.Title = "Address";
}


@using(Html.BeginForm()) {
<div class="col-lg-12">
   
  
    <div class="list-group col-lg-6">
        <ul>
            <li class="list-group-item active col-lg-12">
                <span class="glyphicon glyphicon-star"></span>List Address of User <strong>@Model.user_id</strong>  <span class="badge"></span>
            </li>
            <li  class="list-group-item ">
                <span class="glyphicon glyphicon-star"></span>Zip:
                @Html.Label("zip", Model.zip, new { @class = "form-control" })
                <span class="badge"></span>
            </li>
            <li class="list-group-item  ">
                <span class="glyphicon glyphicon-star"></span> Country:
                @Html.Label("country", Model.country, new { @class = "form-control" })
                <span class="badge"></span>
            </li>
            <li class="list-group-item  ">
                <span class="glyphicon glyphicon-star"></span> Area:
                @Html.Label("area", Model.area, new { @class = "form-control" })
                <span class="badge"></span>
            </li>
            <li class="list-group-item ">
                <span class="glyphicon glyphicon-star"></span>  City:
                @Html.Label("city", Model.city, new { @class = "form-control" })
                <span class="badge"></span>
            </li>

            <li class="list-group-item">
                <span class="glyphicon glyphicon-ok-circle"></span> Street:
                   @Html.Label("street", Model.street, new { @class = "form-control" }) <span class="badge"></span>
            </li>
            <li class="list-group-item">
                <span class="glyphicon glyphicon-user"></span>
                Personal:
                @Html.Label("personal", Model.personal, new { @class = "form-control" })
                <span class="badge"></span>
            </li>
        </ul>
    </div>
    <div class="list-group col-lg-3">
        <ul>
            <li href="#" class="list-group-item active col-lg-12">
                <span class="glyphicon glyphicon-hand-down"></span>
                Managments
                <strong>SuperUser</strong>
                <span class="badge"></span>
            </li>
            <li href="#" class="list-group-item">
                <span class="glyphicon glyphicon-plus"></span>



                <span class="badge"></span>
            </li>

            <li href="#" class="list-group-item">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                @Html.ActionLink("Edit", "Address", "Cabinet", new { id = Model.user_id, edit="ModeEdit" },
                      new { @class = "glyphicon glyphicon-edit btn btn-primary", @title = "edit address" }
                      
                      )
                <!--<input type="submit" value="Edit" name="cancelsaveaddress" class="btn btn-primary" />-->

                <span class="badge"></span>
            </li>
        </ul>
    
   </div>
    
</div>
}


