@model VideoSchool.Models.Units.Menus

@using System.Data;
@{
    ViewBag.Title = "Menus List";
}

<h2>
    <span class="glyphicon glyphicon-menu-hamburger"></span>
    &nbsp; List of all Menus
</h2>



<div class="col-lg-12 row">
    <select class="field-filter form-control" name="SelectMenuId" 
            onchange="document.location = '/Cabinet/Admin/Menu/' + this.value;">
        @foreach (DataRow x in Model.selectMenuMain.table.Rows)
        {
            <option @if (x["id"].ToString() == Model.menuMainId ) { @Html.Raw("selected") } value ="@x["id"]">@x["main"] – @x["name"]</option>
        }
    </select>
    <button type="submit" value="Filter1" class="btn btn-primary form-control btn-filter" title="Filter from Selection MenuMain" style="margin-left: 7px; margin-top: -2px" >
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    </button>
</div>
}

<div class="col-lg-12 row">
    There are @Model.qtable.lines rows.
    @Html.ActionLink("Add", "EditMenu", "Cabinet", new { id = "Add" }, new { @class = "glyphicon glyphicon-plus btn btn-default", @title = "add new action" })
</div>
<hr />

@if (Model.qtable.lines > 0)
{         
    <table class="table table-hover">
        <tr class="success">
            <th>Move</th>
            <th><span class="glyphicon glyphicon-edit"></span></th>
            <th>Menu</th>
            <th>Href</th>
            <th>Name</th>
            <th>Status</th>
        </tr>
        @foreach (DataRow x in Model.qtable.table.Rows)
        {
            <tr>
                <td>
                    <a href="~/Cabinet/Admin/MoveUpMenu/@x["id"]"><span class="glyphicon glyphicon-arrow-up">&nbsp;</span></a>
                    &nbsp;
                    <a href="~/Cabinet/Admin/MoveDnMenu/@x["id"]"><span class="glyphicon glyphicon-arrow-down">&nbsp;</span></a>
                </td>
                <td>
                    @Html.ActionLink(@x["id"].ToString(), "EditMenu", "Cabinet",
                                 new { id = x["id"].ToString() }, new { @class = "btn btn-success", @title = "edit action " + @x["id"].ToString() })
                </td>
                <td>@x["menu"].ToString()</td>
                <td>@x["href"].ToString()</td>
                <td>@x["name"].ToString()</td>
                <td>@x["status"].ToString()</td>
            </tr>
        }
    </table>
}

