@model VideoSchool.Models.Units.MenuMain
@using System.Data;

@{
    ViewBag.Title = "MenuMainList";
}

<h2>
    <span class="glyphicon glyphicon-th-list"></span>
    &nbsp; List of all MenuMain
</h2>

@using (Html.BeginForm("MenuMainList", "Cabinet", FormMethod.Get))
{
    <div>
        @Html.TextBox("filter", Model.filter, new { @class = "field-filter form-control" })
        @* <input type="submit" value="Filter" class="btn btn-primary" /> *@
        <button type="submit" value="Filter" class="btn btn-primary form-control btn-filter">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
}

<div class="col-lg-12 row">
    There are @Model.qtable.lines rows.
    @Html.ActionLink("Add", "MenuMainEdit", "Cabinet", new { id = "Add" }, new { @class = "glyphicon glyphicon-plus btn btn-default", @title = "add new action" })
</div>
<hr />
<div>

</div>
@if (Model.qtable.lines > 0)
{
    <table class="table table-hover">
        <tr class="success">
           
            <th><span class="glyphicon glyphicon-edit"></span></th>
            <th>Main</th>
            <th>Name</th>
            <th>Info</th>
        </tr>
        @foreach (DataRow x in Model.qtable.table.Rows)
        {
            <tr>
              
                <td>
                    @Html.ActionLink(@x["id"].ToString(), "MenuMainEdit", "Cabinet",
                                 new { id = x["id"].ToString() }, new { @class = "btn btn-success", @title = "edit menumain " + @x["id"].ToString() })
                </td>
                <td>@x["main"].ToString()</td>
                <td>@x["name"].ToString()</td>
                <td>@x["info"].ToString()</td>
            </tr>
        }
    </table>
}



