@model VideoSchool.Models.User

@{
    ViewBag.Title = "Users";
}

<h2>List of all users</h2>

<table border="1" cellpadding="5" cellspacing="0" width="500">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
    </tr>
@foreach (var x in Model.list)
{
    <tr>
        <td>@Html.ActionLink(@x.id, "Users", "Cabinet", new { id = x.id }, new { })</td>
        <td>@x.name</td>
        <td>@x.email</td>
        <td>@x.status</td>
    </tr>
}
</table>
