@model VideoSchool.Models.Units.User
@using System.Data;

@{
    ViewBag.Title = "Users";
}

<h2>
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-user"></span>
    <span class="glyphicon glyphicon-user"></span>
     &nbsp; List of all users
</h2>

@using(Html.BeginForm("User", "Cabinet", FormMethod.Get))
{
    <div>
      
        @Html.TextBox("filter", Model.filter, new { @class = "field-filter form-control" })
        @* <input type="submit" value="Filter" class="btn btn-primary" /> *@
        <button type="submit" value="Filter" class="btn btn-primary form-control btn-filter">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
}

<div>
    There are @Model.qtable.lines rows.
</div>

@if(Model.qtable.lines > 0)
{ 
    <table class="table table-hover">
        <tr class="success">
            <th><span class="glyphicon glyphicon-edit"></span></th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>***</th>
        </tr>
    @foreach (DataRow x in Model.qtable.table.Rows)
    {
        <tr>
            <td>@Html.ActionLink(@x["id"].ToString(), "EditUser", "Cabinet", 
                                 new { id = x["id"].ToString() }, new { })</td>
            <td>@x["name"].ToString()</td>
            <td>@x["email"].ToString()</td>
            <td>@x["status"].ToString()</td>
            
            <td>
                @Html.ActionLink("List Address", "Address", "Cabinet",
                                 new { id = x["id"].ToString() }, new { @class="btn btn-default" })
                @Html.ActionLink("Role User", "Role", "Cabinet",
                                 new { id = x["id"].ToString() }, new { @class = "btn btn-default" })
            </td>
        </tr>

    }
    </table>
}