@model VideoSchool.Models.Units.User

@{
    ViewBag.Title = "UserEdit";
}

<h2>UserEdit</h2>

@using (Html.BeginForm("UserEdit", "Cabinet"))
{
    <div style="color: red">
        @ViewBag.error
    </div>
    <div>
        ID: @Model.id<br/>
        Status: @Model.status<br/>
       
    </div>
 <div>
     <h3 class="alert-link">Name:</h3> 
    
            <span class="field-image input-group-addon"><i class="glyphicon glyphicon-user"></i></span>  
            @Html.TextBox("name", Model.name, new {@class="form-control" })
  </div>
    <div>
        <h3 class="alert-link">E-mail:</h3>
        <!--<span class="field-filter glyphicon glyphicon-envelope"></span> --> 
        <span class="field-image input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
           @Html.TextBox("email", Model.email, new { @class = "form-control" })
</div>
    <div><input type="submit" value="Save changes" title="Save changes of the users" class="btn btn-success" /></div>
}